@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: #394f63;
  --background-end-rgb: #24303b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: #1b262f;
    --background-end-rgb: #0e1318;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #0e1318;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
